<div class="table-responsive">
	<table class="table">
	  <tbody>
	    <% @posts.each do |post| %>
	      <tr>
	        <td class="post-text"><%= link_to post.text,edit_post_path(post) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>