@import "bootstrap";
.short-container{
	background-color:#000000;
	h1{
		margin:0;
		margin-top: 30px;
		font-size: 70px;
		font-family: "Limelight", sans-serif;
		a {
			color:#ffff11;
			&:hover {
				text-decoration: none;
			}
		}
	}
	height:115px;
}
h2{
	font-family: "Bubblegum Sans", sans-serif;
	margin-top: 0;
}
.long-container{
	background-color: #fb5;
	padding-bottom: 10px;
	padding-top: 7px;
}
.feed {
	margin-top: -100px;
}
.btn-black {
	color:#ffff11;
	background-color:#000000;
	&:hover,
	&:focus{
		color: #fb5;
	}
}
.btn-link{
	padding:0;
	font-size:12px;
}
.post-text{
	font-size:25px;
}
.feed .post-text a{
	color:#000000;
	&:hover,
	&:focus{
		color: #fb5;
		background-color: #ffffff;
		text-decoration: none;
	}
}
.edit_post {
	display:inline-block;
}
.inline-icon {
	display:inline-block;
	&:visited {
		color: #ffff11;
	}
	&:hover,
	&:focus {
		color: #fb5;
	}
}
.actions {
	margin-top: 25px;
}
.flash{
	background-color: lighten(#ffff11, 20%) ;
	padding: 5px;
	text-align: center;
	width: 70%;
	margin: auto;
}
.form-control{
	width: 60%;
}