@import "bootstrap";
.short-container{
	background-color:#000000;
	h1{
		margin:0;
		margin-top: 30px;
		font-size: 70px;
		font-family: "Limelight", sans-serif;
		a {
			color:#ffff11;
			&:hover {
				text-decoration: none;
			}
		}
	}
	height:115px;
}
h2,
h3 {
	font-family: "Bubblegum Sans", sans-serif;
	margin-top: 0;
	word-break: break-all;
	word-wrap: break-word;
}
.long-container{
	background-color: #fb5;
	padding-bottom: 10px;
	padding-top: 7px;
}
.feed {
	margin-top: -100px;
	width: 200px;
	.post-text {
		width: 140px;
		text-align: end;
		overflow: hidden;
		a {
			color:#000000;
			&:hover,
			&:focus{
				color: #fb5;
				background-color: #ffffff;
				text-decoration: none;
			}
		}
		.meta-data a {
			font-size: 60%;
			display: block;
			color: #999;
			text-align: start;
			margin-top:-10px;
			margin-left: -7px;
		}
	}
}
.btn-black {
	color:#ffff11;
	background-color:#000000;
	&:hover,
	&:focus{
		color: #fb5;
	}
}
.btn-link{
	padding:0;
	font-size:12px;
}
.post-text{
	font-size:25px;
	line-height: 1.2;
}
.edit_post {
	display:inline-block;
}
.inline-icon {
	display:inline-block;
	&:visited {
		color: #ffff11;
	}
	&:hover,
	&:focus {
		color: #fb5;
	}
}
.actions {
	margin-top: 25px;
}
.flash{
	background-color: lighten(#ffff11, 20%) ;
	padding: 5px;
	text-align: center;
	width: 70%;
	margin: auto;
}
.form-control {
	width: 60%;
}
